################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wpfapp5/obj/Debug/View/VersionUC.baml
/wpfapp5/obj/Debug/View/UsersUC.g.cs
/wpfapp5/obj/Debug/View/UsersUC.baml
/wpfapp5/obj/Debug/View/TypeDetailUC.g.cs
/wpfapp5/obj/Debug/View/TypeDetailUC.baml
/wpfapp5/obj/Debug/View/TypeAddUC.g.cs
/wpfapp5/obj/Debug/View/TypeAddUC.baml
/wpfapp5/obj/Debug/View/StokUC.g.cs
/wpfapp5/obj/Debug/View/StokUC.baml
/wpfapp5/obj/Debug/View/SalesmanUC.g.cs
/wpfapp5/obj/Debug/View/SalesmanUC.baml
/wpfapp5/obj/Debug/View/SalesmanAdd.g.cs
/wpfapp5/obj/Debug/View/SalesmanAdd.baml
/wpfapp5/obj/Debug/View/ReportUC.g.cs
/wpfapp5/obj/Debug/View/ReportUC.baml
/wpfapp5/obj/Debug/View/RemindingUC.g.cs
/wpfapp5/obj/Debug/View/RemindingUC.baml
/wpfapp5/obj/Debug/View/ProductUC.g.cs
/wpfapp5/obj/Debug/View/ProductUC.baml
/wpfapp5/obj/Debug/View/PrintingUC.g.cs
/wpfapp5/obj/Debug/View/PrintingUC.baml
/wpfapp5/obj/Debug/View/PasswordUC.g.cs
/wpfapp5/obj/Debug/View/PasswordUC.baml
/wpfapp5/obj/Debug/View/MontlySalesUC.g.cs
/wpfapp5/obj/Debug/View/MontlySalesUC.baml
/wpfapp5/obj/Debug/View/MontlyPurchaseUC.g.cs
/wpfapp5/obj/Debug/View/MontlyPurchaseUC.baml
/wpfapp5/obj/Debug/View/MainGridUC.g.cs
/wpfapp5/obj/Debug/View/MainGridUC.baml
/wpfapp5/obj/Debug/View/LogUC.g.cs
/wpfapp5/obj/Debug/View/LogUC.baml
/wpfapp5/obj/Debug/View/LoadingScreen.g.cs
/wpfapp5/obj/Debug/View/LoadingScreen.baml
/wpfapp5/obj/Debug/View/LisanceWindow.g.cs
/wpfapp5/obj/Debug/View/LisanceWindow.baml
/wpfapp5/obj/Debug/View/LisanceUC.g.cs
/wpfapp5/obj/Debug/View/LisanceUC.baml
/wpfapp5/obj/Debug/View/HedeflerUC.g.cs
/wpfapp5/obj/Debug/View/HedeflerUC.baml
/wpfapp5/obj/Debug/View/GridUISettingUC.baml
/wpfapp5/obj/Debug/View/FilemanagementUC.g.cs
/wpfapp5/obj/Debug/View/FilemanagementUC.baml
/wpfapp5/obj/Debug/View/DailySalesUC.g.cs
/wpfapp5/obj/Debug/View/DailySalesUC.baml
/wpfapp5/obj/Debug/View/DailyPurchaseUC.g.cs
/wpfapp5/obj/Debug/View/DailyPurchaseUC.baml
/wpfapp5/obj/Debug/View/CostumerUC.g.cs
/wpfapp5/obj/Debug/View/CostumerUC.baml
/wpfapp5/obj/Debug/View/CompanyUC.g.cs
/wpfapp5/obj/Debug/View/CompanyUC.baml
/wpfapp5/obj/Debug/View/AnalysisYearlyUC.g.cs
/wpfapp5/obj/Debug/View/AnalysisYearlyUC.baml
/wpfapp5/obj/Debug/View/AnalysisMontlyUC.g.cs
/wpfapp5/obj/Debug/View/AnalysisMontlyUC.baml
/wpfapp5/obj/Debug/View
/wpfapp5/obj/Debug/StarNote_MarkupCompile.lref
/wpfapp5/obj/Debug/StarNote_MarkupCompile.cache
/wpfapp5/obj/Debug/MainWindow.g.cs
/wpfapp5/obj/Debug/MainWindow.baml
/wpfapp5/obj/Debug/GeneratedInternalTypeHelper.g.cs
/wpfapp5/obj/Debug/App.baml
/wpfapp5/obj/Debug
/wpfapp5/bin/Debug/WpfAnimatedGif.xml
/wpfapp5/bin/Debug/WpfAnimatedGif.pdb
/wpfapp5/bin/Debug/WpfAnimatedGif.dll
/wpfapp5/bin/Debug/ToastNotifications.Messages.dll
/wpfapp5/bin/Debug/ToastNotifications.dll
/wpfapp5/bin/Debug/StarNote.pdb
/wpfapp5/bin/Debug/StarNote.exe.manifest
/wpfapp5/bin/Debug/StarNote.exe.config
/wpfapp5/bin/Debug/StarNote.exe
/wpfapp5/bin/Debug/StarNote.application
/wpfapp5/bin/Debug/ru/DevExpress.XtraVerticalGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraTreeList.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraRichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraRichEdit.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraReports.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraReports.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraPrinting.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraPivotGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraNavBar.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraLayout.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraGauges.v18.1.Presets.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraGauges.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraEditors.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraCharts.v18.1.Wizard.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraCharts.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.XtraBars.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpo.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.RichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Ribbon.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.PropertyGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Printing.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.LayoutControl.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Grid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Gauges.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.DocumentViewer.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Docking.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Core.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Controls.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Xpf.Charts.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Web.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Web.Resources.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Utils.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Utils.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Sparkline.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.RichEdit.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Printing.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.PivotGrid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Pdf.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Office.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Map.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Diagram.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.DataAccess.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.DataAccess.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Data.v18.1.resources.dll
/wpfapp5/bin/Debug/ru/DevExpress.Dashboard.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ru
/wpfapp5/bin/Debug/Quartz.xml
/wpfapp5/bin/Debug/Quartz.pdb
/wpfapp5/bin/Debug/Quartz.dll
/wpfapp5/bin/Debug/Newtonsoft.Json.xml
/wpfapp5/bin/Debug/Newtonsoft.Json.dll
/wpfapp5/bin/Debug/log4net.xml
/wpfapp5/bin/Debug/log4net.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraVerticalGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraTreeList.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraRichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraRichEdit.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraReports.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraReports.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraPrinting.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraPivotGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraNavBar.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraLayout.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraGauges.v18.1.Presets.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraGauges.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraEditors.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraCharts.v18.1.Wizard.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraCharts.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.XtraBars.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpo.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.RichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Ribbon.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.PropertyGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Printing.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.LayoutControl.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Grid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Gauges.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.DocumentViewer.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Docking.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Core.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Controls.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Xpf.Charts.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Web.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Web.Resources.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Utils.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Utils.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Sparkline.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.RichEdit.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Printing.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.PivotGrid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Pdf.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Office.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Map.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Diagram.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.DataAccess.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.DataAccess.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Data.v18.1.resources.dll
/wpfapp5/bin/Debug/ja/DevExpress.Dashboard.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/ja
/wpfapp5/bin/Debug/FontAwesome.WPF.xml
/wpfapp5/bin/Debug/FontAwesome.WPF.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraVerticalGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraTreeList.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraRichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraRichEdit.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraReports.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraReports.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraPrinting.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraPivotGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraNavBar.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraLayout.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraGauges.v18.1.Presets.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraGauges.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraEditors.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraCharts.v18.1.Wizard.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraCharts.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.XtraBars.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpo.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.RichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Ribbon.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.PropertyGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Printing.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.LayoutControl.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Grid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Gauges.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.DocumentViewer.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Docking.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Core.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Controls.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Xpf.Charts.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Web.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Web.Resources.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Utils.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Utils.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Sparkline.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.RichEdit.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Printing.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.PivotGrid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Pdf.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Office.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Map.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Diagram.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.DataAccess.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.DataAccess.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Data.v18.1.resources.dll
/wpfapp5/bin/Debug/es/DevExpress.Dashboard.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/es
/wpfapp5/bin/Debug/EntityFramework.xml
/wpfapp5/bin/Debug/EntityFramework.dll
/wpfapp5/bin/Debug/DevExpress.XtraVerticalGrid.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraVerticalGrid.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraTreeMap.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraTreeMap.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraTreeList.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraTreeList.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraRichEdit.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraRichEdit.v18.1.Extensions.xml
/wpfapp5/bin/Debug/DevExpress.XtraRichEdit.v18.1.Extensions.dll
/wpfapp5/bin/Debug/DevExpress.XtraRichEdit.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraReports.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraReports.v18.1.Extensions.xml
/wpfapp5/bin/Debug/DevExpress.XtraReports.v18.1.Extensions.dll
/wpfapp5/bin/Debug/DevExpress.XtraReports.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraPrinting.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraPrinting.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraPivotGrid.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraPivotGrid.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraNavBar.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraNavBar.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraMap.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraMap.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraLayout.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraLayout.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraGrid.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraGrid.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraGauges.v18.1.Win.xml
/wpfapp5/bin/Debug/DevExpress.XtraGauges.v18.1.Win.dll
/wpfapp5/bin/Debug/DevExpress.XtraGauges.v18.1.Presets.xml
/wpfapp5/bin/Debug/DevExpress.XtraGauges.v18.1.Presets.dll
/wpfapp5/bin/Debug/DevExpress.XtraGauges.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.XtraGauges.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.XtraEditors.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraEditors.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraDiagram.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraDiagram.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.Wizard.xml
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.Wizard.dll
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.Web.xml
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.Web.dll
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.UI.xml
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.UI.dll
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.Extensions.dll
/wpfapp5/bin/Debug/DevExpress.XtraCharts.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.XtraBars.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.XtraBars.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpo.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpo.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.TreeMap.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.TreeMap.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.VS2017Light.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.VS2017Dark.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.VS2017Blue.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.VS2010.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.TouchlineDark.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Seven.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016WhiteSE.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016White.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016DarkGraySE.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016ColorfulSE.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016Colorful.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016BlackSE.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2016Black.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2013LightGray.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2013DarkGray.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2013.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2010Silver.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2010Blue.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2010Black.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2007Silver.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2007Blue.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.Office2007Black.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.MetropolisLight.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.MetropolisDark.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.LightGray.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.HybridApp.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Themes.DXStyle.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.RichEdit.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.RichEdit.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Ribbon.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Ribbon.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.PropertyGrid.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.PropertyGrid.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Printing.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Printing.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.PivotGrid.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.PivotGrid.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Map.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Map.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.LayoutControl.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.LayoutControl.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Layout.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Layout.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Grid.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Grid.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Grid.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Grid.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Gauges.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Gauges.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.ExpressionEditor.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.DocumentViewer.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.DocumentViewer.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Docking.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Docking.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Dashboard.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Dashboard.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Core.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Core.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Controls.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Controls.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Xpf.Charts.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Xpf.Charts.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Web.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Web.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Web.Resources.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Web.ASPxThemes.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Utils.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Utils.v18.1.UI.xml
/wpfapp5/bin/Debug/DevExpress.Utils.v18.1.UI.dll
/wpfapp5/bin/Debug/DevExpress.Utils.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.TreeMap.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.TreeMap.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Sparkline.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Sparkline.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.RichEdit.v18.1.Export.dll
/wpfapp5/bin/Debug/DevExpress.RichEdit.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.RichEdit.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Printing.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Printing.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.PivotGrid.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.PivotGrid.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Pdf.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Pdf.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Office.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Office.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Mvvm.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Mvvm.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Map.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Map.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.Images.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Diagram.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Diagram.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.DataAccess.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.DataAccess.v18.1.UI.xml
/wpfapp5/bin/Debug/DevExpress.DataAccess.v18.1.UI.dll
/wpfapp5/bin/Debug/DevExpress.DataAccess.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Data.v18.1.xml
/wpfapp5/bin/Debug/DevExpress.Data.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Dashboard.v18.1.Wpf.xml
/wpfapp5/bin/Debug/DevExpress.Dashboard.v18.1.Wpf.dll
/wpfapp5/bin/Debug/DevExpress.Dashboard.v18.1.Core.xml
/wpfapp5/bin/Debug/DevExpress.Dashboard.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.CodeParser.v18.1.dll
/wpfapp5/bin/Debug/DevExpress.Charts.v18.1.Core.dll
/wpfapp5/bin/Debug/DevExpress.BonusSkins.v18.1.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraVerticalGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraTreeList.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraRichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraRichEdit.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraReports.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraReports.v18.1.Extensions.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraPrinting.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraPivotGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraNavBar.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraLayout.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraGauges.v18.1.Presets.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraGauges.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraEditors.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraCharts.v18.1.Wizard.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraCharts.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.XtraBars.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpo.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.RichEdit.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Ribbon.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.PropertyGrid.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Printing.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.LayoutControl.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Grid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Gauges.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.DocumentViewer.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Docking.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Core.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Controls.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Xpf.Charts.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Web.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Web.Resources.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Utils.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Utils.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Sparkline.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.RichEdit.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Printing.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.PivotGrid.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Pdf.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Office.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Map.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Diagram.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.DataAccess.v18.1.UI.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.DataAccess.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Data.v18.1.resources.dll
/wpfapp5/bin/Debug/de/DevExpress.Dashboard.v18.1.Core.resources.dll
/wpfapp5/bin/Debug/de
/wpfapp5/bin/Debug/app.publish/StarNote.exe
/wpfapp5/bin/Debug/app.publish
/wpfapp5/bin/Debug
/wpfapp5
