################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wpfapp5/obj/Debug/View/VersionUC.baml
